@page "/"
@rendermode InteractiveServer

<PageTitle>Ana Sayfa</PageTitle>

<h1>Hoş Geldiniz!</h1>
<p>ShopOnline e-ticaret sitesine hoş geldiniz.</p>

<div class="mt-4">
    <a href="/products" class="btn btn-primary">Ürünleri Görüntüle</a>
    <a href="/counter" class="btn btn-secondary ms-2">Counter</a>
</div>